<h1><%= t "login.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:sessions, url: login_path) do |f| %>
      <%= f.label :user_name %>
      <%= f.email_field :user_name, class: "form-control" %>

      <%= f.label :password %>
      <%= link_to t("login.forgot_password"), "#" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t "login.remember_me" %></span>
      <% end %>

      <%= f.submit t("login.login"), class: "btn btn-primary" %>
    <% end %>
    <p><%= t "login.new_user" %> <%= link_to t("login.signup"),
      signup_path %></p>
  </div>
</div>
