<div class="row">
  <h1 class="text-center"><%= yield :title %></h1>
</div>
<div class="row">
  <%= form_for [@suggesting], html: {multipart: true} do |f| %>
    <%= render "shared/error_messages", object: f.object%>
    <div class="col-md-5 col-md-offset-2">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :product_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :product_description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <div class="input-group">
          <span class="input-group-addon"><%= number_to_currency 1,
            format: "%u" %></span>
          <%= f.number_field :product_price, class: "form-control",
            min: Settings.product.min_price, max: Settings.product.max_price,
            step: Settings.product.step %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :product_image, id: "image-upload" %>
        <% if @suggesting.product_image.present? %>
          <%= image_tag @suggesting.product_image.url,
            alt: "alt.suggested_product", class: "img-responsive",
            id: "current-profile-image"%>
        <% end %>
        <%= image_tag "#", {size: Settings.product.image_size,
          alt: "alt.suggested_product",
          class: "img-thumbnail hidden", id: "img_prev"} %>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
